@font-face {
    font-family:internationalPro;
    src: url(fonts/NBInternationalPro-Regular.ttf);
}

body{
    background-color: #050A1A;
    color:#DADFE3;
    text-align: center;
}

ul{
    list-style: none;
}

img{
    height: 50%;
    width: auto;
}

.larger{
   height: 100%;
   width: auto;
}

.circle{
    height: 100px;
    width: 100px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    background:#A9DA63;
    color: #050A1A;
}