@font-face {
    font-family:internationalPro;
    src: url(fonts/NBInternationalPro-Regular.ttf);
}

body{
    background-color: #050A1A;
    color:#DADFE3;
    text-align: center;
}

div{
    background-repeat: no-repeat;
    background-size:cover;
    height:40em;
    width:auto;
    margin-left:5%;
    margin-right:5%;
    margin-bottom: 10%;
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-rows: 60% 1fr 1fr 5%;
    gap:1em;
}
    .semigravel{
        background-image: url(assets/semigravel.png);
    }

    .kopjebloemendaal{
        background-image: url(assets/kopjebloemendaal.png);
        display:none;
    }

    .rondehoep{
        background-image: url(assets/rondehoep.png);
        display:none;
    }

img{
    height: 50%;
    width: auto;
}

ul{
    list-style: none;
}

.larger{
   height: 100%;
   width: auto;
}

.circle{
    height: 100px;
    width: 100px;
    display: table-cell;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    background:#A9DA63;
    color: #050A1A;
}