:root{
    --background-color: #FFFFFF;
    --primary-text-color: #43444E;
    --secondary-text-color: #F2725F;
    --footer-text-color: #919297;
    --tertiary-text-color: #ffffff; 
    --notice-color:  #F2725F;
    --notice-hover: #F05D47;
    --seperator-color: #cfcfcf;

}

body{
    text-align: center;
    color: var(--primary-text-color);
    margin: 0;

    ul{
        list-style: none;
    }

    a{
      text-decoration: none;
      color: var(--primary-text-color);
    }
    
    a:hover{
        color: var(--secondary-text-color);
    }
}

header{
    nav{
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
    }

    button{
        background-color: var(--background-color);
        border: none;
        height: fit-content;
        width: fit-content;
        anchor-name: --header;
    }

    #menu{
        background-color: var(--background-color);
        border: none;
        line-height: 2.5;
        width: 15em;
        height: 100%;
        position-anchor: --header;
        position-area: bottom span-right;
    }

    :popover-open{
        text-align: start;
    }

    a{
        padding-left: .25em;
        padding-right: .25em;
    }

    .logo{
        width: 10em;
    }

    .register{
        color: var(--secondary-text-color);
        border: 1px solid var(--notice-color);
        border-radius: 10px;
        padding:5px;
    }

    border-bottom: 1px solid var(--seperator-color);
}

h1{
    text-align: start;

    @media (min-width: 560px){
        text-align: center;
    }
}

p{
    text-align: start;
    border-bottom: 1px solid var(--seperator-color);

    @media (min-width: 560px){
        text-align: center;
    }
}

form{
    margin-top: 2em;
    margin-bottom: 2em;
    border-bottom: 1px solid var(--seperator-color);

    textarea{
        height:15em;
        width: 80%;
        resize: none;
    }

    button{
        background-color: var(--notice-color);
        color: var(--tertiary-text-color);
        margin-bottom: 1em;
        margin-top: 1em;
        border: none;
        border-radius: 10px;
        padding:10px;

    }

    button:hover{
        background-color: var(--notice-hover);
        cursor: pointer;
    }


    @media (min-width: 620px){
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    @media (min-width: 900px){
        display: grid;
        grid-template-columns: repeat(2, 1fr) .2fr repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 5px;
        grid-row-gap: 5px;
        place-items: center;

        .ASCII{
            grid-area: 1 / 1 / 3 / 3;
        }

        #output{
            grid-area: 1 / 4 / 3 / 6;
        }

        .convert{
            grid-area: 3 / 2 / 4 / 3;
        }

        .save{
            grid-area: 3 / 4 / 4 / 5;
        }
    }
}

footer{
    text-align: start;

    h3, a{
    color: var(--footer-text-color);
    }

    ul{
        padding: 0;
    }

    @media (min-width: 550px){
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
}